VITE_AUTH_SERVICE_URL=http://localhost:8001
VITE_USER_SERVICE_URL=http://localhost:8002
VITE_DOCUMENT_SERVICE_URL=http://localhost:8003
VITE_KNOWLEDGE_SERVICE_URL=http://localhost:8004
VITE_AI_SERVICE_URL=http://localhost:8005
VITE_GENERATION_SERVICE_URL=http://localhost:8006
VITE_EVALUATION_SERVICE_URL=http://localhost:8007
VITE_LEARNING_SERVICE_URL=http://localhost:8008
VITE_EXPORT_SERVICE_URL=http://localhost:8009
